{% extends "main/index.html" %}
{% load static %}

{% block content %}
<main>
    <div class="login-container">
        <h2>Войти</h2>
        <form action="{% url "users:login" %}" method="POST">
        {% csrf_token %}
        <label for="id_username">Имя пользователя:</label>
        <input type="text" id="id_username" name="username" placeholder="Введите имя пользователя" required>

        <label for="id_password">Пароль:</label>
        <input type="password" id="id_password" name="password" placeholder="Введите пароль" required>

        <button type="submit">Войти</button>
        </form>
        <div class="login-options">
            <a href="#">Забыли пароль?</a>
            <a href="{% url "users:registration" %}">Создать аккаунт</a>
        </div>
    </div>
</main>
{% endblock content %}